<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/detail.css' />
  </head>
  <body>
    <div class="detail_center">
      <div class="youchuo"></div>
      <div class="youchuo-jiao"></div>
    <div class="detail" style=" background:url(../images/<%= item.fileImg %>) no-repeat; background-size: contain;">
  <!-- <img src="images/<%= item.fileImg %>"> -->

</div>
<div class="right">
<div>《<%= item.title %>》</div>
<div><%= item.val %></div>
<div class="name">--<%= item.username %></div>
</div>
</div>
  </body>
</html>
